.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;

    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-space);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}

.actions {
    width: 274px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions-name {
    margin-right: 8px;
}
.actions-menu {
    width: 20px;
    height: 20px;
}
.actions {
    width: 274px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
}

.round-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.users-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
